<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Template Autoridade</title>
</head>

<body class="template-autoridade">
    <div class="carousel-indicator">
        <div class="arrow-line"></div>
        <div class="arrow-head"></div>
    </div>

    <div class="content">
        <div class="hook">{{hook}}</div>
        <div class="subtitle">{{subtitle}}</div>
    </div>

    <div class="footer">
        <div class="tag">
            <div class="tag-icon"></div>
            <div class="tag-text">WebDev</div>
        </div>
        <div class="website">sueste-creative.pt</div>
    </div>
    </div>
</body>

</html>